In [1]:
import pandas as pd
df_ordes = pd.read_csv('/home/stasevich/work/S7_Case/final_orders_train.csv')

In [2]:
df_ordes

,order_id,product_category,product_id,order_date,delivery_date,amount,qty,valid_delivered_qty
0,0,4,61,2020-01-02,2020-01-14,1.249730e+05,1.0,1.0
1,1,4,58,2020-01-04,2020-01-14,1.202992e+06,4.0,4.0
2,2,0,12,2020-02-04,2020-02-19,3.010961e+06,5.0,5.0
3,3,4,46,2020-03-17,2020-03-29,5.144759e+06,25.0,12.0
4,4,4,50,2020-04-16,2020-04-16,6.565086e-01,1.0,1.0
...,...,...,...,...,...,...,...,...
1802,1837,4,50,2025-01-17,NaN,4.060958e+05,2.0,NaN
1803,1838,4,48,2025-01-17,NaN,1.094812e+06,10.0,NaN
1804,1839,4,48,2025-01-17,NaN,2.189625e+05,2.0,NaN
1805,1889,2,106,2025-04-03,NaN,1.121301e+06,6.0,NaN
1806,1893,4,32,2025-05-29,NaN,1.674402e+07,50.0,NaN