In [20]:
import pandas as pd
df_orders = pd.read_csv('orders_with_unitPrice.csv')
df_cons = pd.read_csv('cleaned_consumption.csv')

In [11]:
df_orders

,Unnamed: 0,order_id,product_category,product_id,order_date,delivery_date,amount,qty,valid_delivered_qty,unit_price
0,0,0,4,61,2020-01-02,2020-01-14,1.249730e+05,1.0,1.0,124972.990282
1,1,1,4,58,2020-01-04,2020-01-14,1.202992e+06,4.0,4.0,300748.009134
2,2,2,0,12,2020-02-04,2020-02-19,3.010961e+06,5.0,5.0,602192.263763
3,3,3,4,46,2020-03-17,2020-03-29,5.144759e+06,25.0,12.0,205790.366021
4,4,4,4,50,2020-04-16,2020-04-16,6.565086e-01,1.0,1.0,0.656509
...,...,...,...,...,...,...,...,...,...,...
1802,1802,1837,4,50,2025-01-17,NaN,4.060958e+05,2.0,NaN,203047.913058
1803,1803,1838,4,48,2025-01-17,NaN,1.094812e+06,10.0,NaN,109481.239608
1804,1804,1839,4,48,2025-01-17,NaN,2.189625e+05,2.0,NaN,109481.239608
1805,1805,1889,2,106,2025-04-03,NaN,1.121301e+06,6.0,NaN,186883.441232
1806,1806,1893,4,32,2025-05-29,NaN,1.674402e+07,50.0,NaN,334880.375079

Для каждой категории выявить процент не дошедших товаров

In [16]:
df_orders.info()

<class 'pandas.DataFrame'>
RangeIndex: 1807 entries, 0 to 1806
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           1807 non-null   int64
 1   order_id             1807 non-null   int64
 2   product_category     1807 non-null   int64
 3   product_id           1807 non-null   int64
 4   order_date           1807 non-null   str
 5   delivery_date        1669 non-null   str
 6   amount               1807 non-null   float64
 7   qty                  1807 non-null   float64
 8   valid_delivered_qty  1669 non-null   float64
 9   unit_price           1807 non-null   float64
dtypes: float64(4), int64(4), str(2)
memory usage: 141.3 KB

In [48]:
df_orders['amount'].count()

np.int64(1807)

In [67]:
for categ, group in df_orders.groupby("product_category"):
    group = group.dropna(subset=["valid_delivered_qty"])
    qty = group["qty"]
    qty_sum = qty.sum()
    no_valid_qty = (qty - group["valid_delivered_qty"])
    no_valid_qty_sum = (no_valid_qty > 0).sum()
    print(
        f"category {categ}: \nколичество недошедшего товара:",
        f"{no_valid_qty.sum()}({(no_valid_qty.sum() * 100) / qty_sum:.2f}%)",
        f"\nколичество не дошедших заказов {no_valid_qty_sum}({no_valid_qty_sum * 100 / qty.count():.2f}%)",
    )

category 0:
количество недошедшего товара: 76.0(3.21%)
количество не дошедших заказов 9(11.84%)
category 1:
количество недошедшего товара: 0.0(0.00%)
количество не дошедших заказов 0(0.00%)
category 2:
количество недошедшего товара: 443.0(2.95%)
количество не дошедших заказов 32(5.41%)
category 3:
количество недошедшего товара: 3580.0(0.80%)
количество не дошедших заказов 4(5.19%)
category 4:
количество недошедшего товара: 752.0(4.35%)
количество не дошедших заказов 49(5.37%)

Давайте посмотрим детальнее на категорию 0, 2 и 4

In [83]:
group = df_orders[df_orders['product_category'] == 0]
qty = group["qty"]
mask = ((qty - group["valid_delivered_qty"]) > 0)
group[mask]

,Unnamed: 0,order_id,product_category,product_id,order_date,delivery_date,amount,qty,valid_delivered_qty,unit_price
534,534,534,0,16,2022-07-05,2022-09-28,4.373822e+07,35.0,34.0,1.249663e+06
716,716,716,0,11,2023-04-06,2023-07-06,2.101674e+07,23.0,22.0,9.137713e+05
792,792,792,0,14,2023-07-19,2023-10-24,6.514194e+07,44.0,1.0,1.480499e+06
821,821,821,0,13,2023-08-22,2024-01-26,2.772175e+07,14.0,13.0,1.980125e+06
1097,1097,1097,0,17,2024-04-10,2024-09-20,3.835612e+07,19.0,17.0,2.018743e+06
1099,1099,1099,0,18,2024-04-10,2024-09-16,5.854355e+07,29.0,27.0,2.018743e+06
1376,1376,1376,0,29,2024-11-20,2025-05-02,2.168499e+07,68.0,65.0,3.188969e+05
1469,1469,1469,0,14,2025-01-31,2025-04-15,1.375180e+08,46.0,32.0,2.989521e+06
1600,1600,1600,0,27,2025-04-01,2025-06-24,6.422097e+07,92.0,83.0,6.980541e+05

Если в категории 2 убрать заказ order_id=792, то категория по количетству досталенных товаров становиться крайне стабильной.

In [82]:
group = df_orders[df_orders['product_category'] == 2]
qty = group["qty"]
mask = ((qty - group["valid_delivered_qty"]) > 0)
group[mask]

,Unnamed: 0,order_id,product_category,product_id,order_date,delivery_date,amount,qty,valid_delivered_qty,unit_price
559,559,559,2,75,2022-08-05,2022-09-14,5.133862e+06,50.0,49.0,102677.239514
761,761,761,2,117,2023-06-16,2023-09-25,6.323675e+06,97.0,76.0,65192.525702
765,765,765,2,85,2023-06-16,2023-09-24,5.273557e+06,71.0,61.0,74275.454517
768,768,768,2,124,2023-06-16,2023-09-24,3.712281e+06,70.0,62.0,53032.584372
846,846,846,2,81,2023-09-13,2024-01-18,3.991294e+06,26.0,13.0,153511.323066
1083,1083,1083,2,109,2024-04-08,2024-06-03,2.748699e+06,28.0,27.0,98167.831173
1150,1150,1150,2,124,2024-06-04,2024-07-18,1.584197e+06,25.0,12.0,63367.884997
1151,1151,1151,2,125,2024-06-04,2024-07-18,3.168394e+05,5.0,4.0,63367.884997
1172,1172,1172,2,93,2024-08-02,2024-10-31,2.373470e+06,15.0,14.0,158231.348790
1188,1188,1188,2,109,2024-08-27,2025-04-17,2.560788e+06,20.0,2.0,128039.399873
1193,1193,1193,2,93,2024-09-03,2024-10-06,4.889463e+06,34.0,32.0,143807.734776
1194,1194,1194,2,94,2024-09-03,2024-10-06,3.163770e+06,22.0,18.0,143807.734776
1399,1399,1399,2,109,2024-12-06,2025-06-15,1.156155e+07,68.0,67.0,170022.767734
1422,1422,1422,2,93,2024-12-12,2025-04-06,3.133813e+07,183.0,182.0,171246.605867
1471,1471,1471,2,80,2025-02-02,2025-03-30,3.067114e+06,9.0,2.0,340790.493948
1472,1472,1472,2,81,2025-02-02,2025-03-30,1.329252e+07,56.0,55.0,237366.513197
1474,1474,1474,2,85,2025-02-02,2025-03-30,1.851459e+06,14.0,9.0,132247.057353
1475,1475,1475,2,86,2025-02-02,2025-03-30,4.204778e+05,4.0,2.0,105119.455845
1477,1477,1477,2,101,2025-02-02,2025-03-30,5.571331e+06,53.0,46.0,105119.455845
1478,1478,1478,2,102,2025-02-02,2025-03-30,2.999295e+06,29.0,27.0,103423.980750
1481,1481,1481,2,117,2025-02-02,2025-03-30,3.616448e+06,27.0,5.0,133942.532447
1482,1482,1482,2,118,2025-02-02,2025-03-30,1.673434e+06,14.0,13.0,119530.994146
1484,1484,1484,2,124,2025-02-02,2025-03-30,2.575427e+06,31.0,9.0,83078.279619
1485,1485,1485,2,125,2025-02-02,2025-03-30,1.856545e+06,15.0,14.0,123769.681881
1513,1513,1513,2,101,2025-02-26,2025-07-25,4.180774e+07,270.0,103.0,154843.480772
1526,1526,1526,2,83,2025-03-04,2025-05-21,1.379081e+07,60.0,2.0,229846.850170
1564,1564,1564,2,85,2025-03-11,2025-05-09,9.147103e+06,54.0,51.0,169390.800886
1565,1565,1565,2,86,2025-03-11,2025-05-09,5.081724e+06,30.0,26.0,169390.800886
1586,1586,1586,2,101,2025-03-24,2025-07-01,5.033854e+06,34.0,30.0,148054.536029
1642,1642,1642,2,83,2025-04-16,2025-05-26,4.560710e+06,29.0,3.0,157265.867133
1664,1664,1664,2,125,2025-05-16,2025-06-20,1.796592e+06,20.0,5.0,89829.610109
1689,1689,1689,2,87,2025-06-06,2025-07-15,1.778699e+06,10.0,9.0,177869.857030

**Категория 2:** Если в 2022-2023 годах недовозы были мелкими, то к 2025 году они стали критическими. Это говорит о нарастающем дефиците запчастей этой категории.

In [81]:
group = df_orders[df_orders['product_category'] == 4]
qty = group["qty"]
mask = ((qty - group["valid_delivered_qty"]) > 0)
group[mask]

,Unnamed: 0,order_id,product_category,product_id,order_date,delivery_date,amount,qty,valid_delivered_qty,unit_price
3,3,3,4,46,2020-03-17,2020-03-29,5.144759e+06,25.0,12.0,205790.366021
33,33,33,4,21,2020-08-11,2020-09-18,5.173288e+05,8.0,7.0,64666.094581
378,378,378,4,61,2021-11-01,2021-11-03,1.046714e+06,20.0,10.0,52335.710560
432,432,432,4,26,2022-03-02,2022-05-04,1.501567e+07,35.0,20.0,429019.241050
433,433,433,4,1,2022-03-02,2022-03-14,3.095047e+07,110.0,25.0,281367.933953
434,434,434,4,71,2022-03-02,2022-03-15,1.019343e+07,60.0,10.0,169890.493365
436,436,436,4,61,2022-03-02,2022-03-15,7.783715e+06,100.0,20.0,77837.152273
438,438,438,4,32,2022-03-02,2022-04-04,8.229062e+06,29.0,4.0,283760.757860
441,441,441,4,22,2022-03-02,2022-04-04,6.485960e+06,40.0,10.0,162149.004491
444,444,444,4,26,2022-03-02,2022-05-18,2.742761e+06,28.0,20.0,97955.744455
449,449,449,4,45,2022-03-02,2022-05-16,4.334683e+06,53.0,35.0,81786.466099
450,450,450,4,58,2022-03-02,2022-03-15,1.652964e+07,100.0,25.0,165296.401854
459,459,459,4,37,2022-04-19,2022-09-06,3.385077e+06,11.0,2.0,307734.291085
482,482,482,4,21,2022-03-02,2022-05-16,5.733801e+05,5.0,4.0,114676.029143
521,521,521,4,0,2022-06-28,2023-04-03,7.887317e+05,14.0,7.0,56337.975248
526,526,526,4,70,2022-06-28,2022-11-08,8.519922e+06,40.0,20.0,212998.060412
601,601,601,4,58,2022-10-19,2023-05-12,1.949480e+07,50.0,49.0,389896.043746
618,618,618,4,54,2022-11-09,2023-05-12,1.035833e+07,150.0,129.0,69055.520757
619,619,619,4,56,2022-11-09,2023-05-19,9.007242e+05,5.0,2.0,180144.836759
625,625,625,4,57,2022-11-14,2023-07-03,2.123941e+07,100.0,95.0,212394.092383
656,656,656,4,56,2022-07-11,2024-01-05,7.642006e+06,30.0,25.0,254733.533236
671,671,671,4,58,2023-01-25,2023-04-18,1.228851e+07,30.0,29.0,409617.080429
673,673,673,4,32,2022-11-03,2023-07-27,1.304369e+07,49.0,20.0,266197.847042
699,699,699,4,58,2023-02-14,2023-07-31,2.105521e+07,40.0,39.0,526380.368620
731,731,731,4,61,2023-04-18,2023-11-28,1.210581e+07,50.0,43.0,242116.259071
770,770,770,4,70,2023-06-21,2023-11-02,3.089063e+07,70.0,69.0,441294.643627
783,783,783,4,71,2023-07-14,2023-11-07,3.204261e+07,50.0,49.0,640852.126762
830,830,830,4,54,2023-08-31,2024-07-04,1.629549e+07,150.0,134.0,108636.621304
831,831,831,4,58,2023-09-04,2024-02-13,2.507302e+07,50.0,47.0,501460.346162
855,855,855,4,71,2023-09-18,2024-01-19,1.004403e+06,2.0,1.0,502201.481147
859,859,859,4,70,2023-09-18,2024-07-16,3.559036e+07,80.0,78.0,444879.439436
865,865,865,4,31,2023-09-19,2024-02-19,3.137664e+06,8.0,7.0,392208.056258
867,867,867,4,31,2023-09-19,2024-02-19,1.176624e+06,3.0,1.0,392208.056258
870,870,870,4,32,2023-09-19,2024-02-19,1.176624e+06,3.0,2.0,392208.056258
946,946,946,4,71,2023-11-02,2024-02-19,6.866238e+06,15.0,13.0,457749.194215
947,947,947,4,0,2023-11-02,2024-02-16,5.254276e+06,25.0,23.0,210171.058007
949,949,949,4,1,2023-11-02,2024-02-16,2.387291e+06,6.0,5.0,397881.767541
950,950,950,4,72,2023-11-04,2024-07-08,1.628621e+07,30.0,29.0,542873.751472
952,952,952,4,58,2023-11-10,2023-11-20,9.484885e+06,29.0,27.0,327065.005519
991,991,991,4,58,2023-12-08,2024-10-07,3.948833e+07,80.0,70.0,493604.152766
994,994,994,4,70,2023-12-18,2024-03-01,1.017588e+07,20.0,19.0,508794.145182
1051,1051,1051,4,56,2022-11-09,2024-10-04,8.162626e+07,295.0,196.0,276699.182911
1158,1158,1158,4,50,2024-06-27,2024-08-22,2.883724e+07,60.0,49.0,480620.644308
1163,1163,1163,4,1,2024-03-20,2024-07-19,2.300477e+06,8.0,7.0,287559.685429
1170,1170,1170,4,67,2024-06-30,2024-12-12,1.572574e+07,93.0,88.0,169093.995335
1647,1647,1647,4,6,2025-04-22,2025-05-07,2.307586e+06,8.0,7.0,288448.292020
1675,1675,1675,4,71,2025-05-20,2025-07-15,2.853452e+07,50.0,12.0,570690.444065
1676,1676,1676,4,22,2025-05-20,2025-07-16,5.147736e+06,50.0,30.0,102954.713403
1770,1770,1770,4,26,2025-08-15,2025-08-25,5.760312e+06,33.0,23.0,174554.908251

**Категория 4:** В начале марта 2022 года разорвались логистические цепочки авиазапчастей. Тот факт, что задержки по этим заказам растянулись до мая, говорит о том, что поставщики метались в поисках путей обхода санкций.Это сильно испортило статистику.

**Итоги:**  
**Категория 1:** Единственная категория с нулевым уровнем недопоставок. Поставщики работают идеально.  
**Категория 3:** Несмотря на огромные объемы (тысячи единиц недовоза), в процентах это самая надежная категория после первой (99.2% успеха).Можно минимизировать складские площади, так как риск срыва поставки крайне мал.
**Категория 2:** Средний риск, но данные 2025 года показывают «дыры» в поставках. Проблема в том, что поставщики перестали справляться с объемами.Вместо одной крупной заявки, которая вызывает отказ, следует отправлять несколько мелких заказов в разное время.
**Категория 0:** Очень надежна по объему доставляемых товаров, но имеет частые срывы (11%), скорее всего это связано с распиздяйством поставщиков.
**Категория 4:** Худший показатель по доставленным товарам (95.6%). Самая высокая чувствительность к внешним кризисам (2022 год).Здесь нельзя полагаться на оперативную доставку в условиях геополитеческой нестабильности. Также надо рассчитывать объем заказа с учетом потерь в 5% т.е. заазывать чуть бульше необходимого.